
  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    background: #f5f5f5;
    color: #4d4d4d;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    min-width: 230px;
  }

  button,
  input {
    font: inherit;
  }

  button {
    background: none;
    border: 0;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  todo-app {
    display: block;
  }

  .todoapp {
    background: white;
    box-shadow:
      0 2px 4px 0 rgb(0 0 0 / 20%),
      0 25px 50px 0 rgb(0 0 0 / 10%);
    margin: 130px auto 40px;
    position: relative;
    width: 550px;
  }

  .main {
    border-top: 1px solid #e6e6e6;
    position: relative;
    z-index: 2;
  }

  .toggle-all {
    border: none;
    bottom: 100%;
    height: 1px;
    opacity: 0;
    position: absolute;
    right: 100%;
    width: 1px;
  }

  .toggle-all + label {
    align-items: center;
    display: flex;
    font-size: 0;
    height: 34px;
    justify-content: center;
    left: -13px;
    position: absolute;
    top: -52px;
    transform: rotate(90deg);
    width: 60px;
  }

  .toggle-all + label::before {
    color: #e6e6e6;
    content: "❯";
    font-size: 22px;
    padding: 10px 27px;
  }

  .toggle-all:checked + label::before {
    color: #737373;
  }

  .info {
    color: #bfbfbf;
    font-size: 10px;
    margin: 65px auto 0;
    text-align: center;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
  }

  .info p {
    line-height: 1;
  }

  .header h1 {
    color: rgb(175 47 47 / 15%);
    font-size: 80px;
    font-weight: 100;
    position: absolute;
    text-align: center;
    text-rendering: optimizeLegibility;
    top: -155px;
    width: 100%;
  }

  .header {
    margin: 0;
  }

  todo-header {
    display: block;
  }

  .new-todo {
    border: none;
    box-sizing: border-box;
    color: inherit;
    font-size: 24px;
    font-weight: inherit;
    line-height: 1.4em;
    margin: 0;
    padding: 16px 16px 16px 60px;
    position: relative;
    width: 100%;
  }

  .new-todo::placeholder {
    color: #e6e6e6;
    font-style: italic;
    font-weight: 300;
  }

  .new-todo:focus {
    box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
    outline: 0;
  }

  .todo-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  todo-item {
    display: block;
  }

  todo-item[hidden] {
    display: none;
  }

  todo-item[editing] .view {
    display: none;
  }

  todo-item li {
    border-bottom: 1px solid #ededed;
    font-size: 24px;
    position: relative;
  }

  todo-item li:last-child {
    border-bottom: none;
  }

  todo-item .toggle {
    appearance: none;
    border: none;
    bottom: 0;
    height: 40px;
    margin: auto 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
  }

  todo-item .toggle + label {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'><circle cx='50' cy='50' r='50' fill='none' stroke='%23ededed' stroke-width='3'/></svg>");
    background-position: center left;
    background-repeat: no-repeat;
    display: block;
    line-height: 1.2;
    padding: 15px 15px 15px 60px;
    transition: color 0.4s;
    word-break: break-all;
  }

  todo-item[status="completed"] .toggle + label,
  todo-item .toggle:checked + label {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='-10 -18 100 135'><circle cx='50' cy='50' r='50' fill='none' stroke='%23bddad5' stroke-width='3'/><path fill='%235dc2af' d='M72 25 42 71 27 52l-5 6 20 25 36-54z'/></svg>");
    color: #d9d9d9;
    text-decoration: line-through;
  }

  todo-item .destroy {
    bottom: 0;
    color: #cc9a9a;
    display: none;
    font-size: 30px;
    height: 40px;
    margin: auto 0;
    position: absolute;
    right: 10px;
    top: 0;
    transition: color 0.2s ease-out;
    width: 40px;
  }

  todo-item .destroy::after {
    content: "x";
  }

  todo-item li:hover .destroy {
    display: block;
  }

  todo-item .destroy:hover {
    color: #af5b5e;
  }

  todo-item .edit {
    display: none;
  }

  todo-item[editing] .edit {
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);
    box-sizing: border-box;
    color: inherit;
    display: block;
    font-size: 24px;
    line-height: 1.4em;
    margin: 0 0 0 43px;
    padding: 12px 16px;
    width: calc(100% - 43px);
  }

  .footer {
    border-top: 1px solid #e6e6e6;
    box-shadow:
      0 1px 1px rgb(0 0 0 / 20%),
      0 8px 0 -3px #f6f6f6,
      0 9px 1px -3px rgb(0 0 0 / 20%),
      0 16px 0 -6px #f6f6f6,
      0 17px 2px -6px rgb(0 0 0 / 20%);
    color: #777;
    font-size: 0.875rem;
    height: 20px;
    padding: 10px 15px;
    position: relative;
    text-align: center;
  }

  .todo-count {
    float: left;
    text-align: left;
  }

  .todo-count strong {
    font-weight: 300;
  }

  .filters {
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
  }

  .filters li {
    display: inline;
  }

  .filters li a {
    border: 1px solid transparent;
    border-radius: 999px;
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
  }

  .filters li a:hover {
    border-color: rgb(175 47 47 / 10%);
  }

  .filters li a.selected {
    border-color: rgb(175 47 47 / 20%);
  }

  .clear-completed {
    cursor: pointer;
    float: right;
    line-height: 20px;
    position: relative;
  }

  .clear-completed:hover {
    text-decoration: underline;
  }
